.btn1{
    border: 2px solid #004f32;
    border-radius: 50px;
    padding: 7px 20px;
    cursor: pointer;
    color: #004f32;
    background-color: white;
    font-weight: 500;

}

.nav-link{
    color: #004f32 !important;
    font-weight: 500;
}